<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Disiscrizione attivita'</title>
<style>
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
</style>
</head>
<body style="background-color:#faebd7;">
	<form action="attivitaDisiscritte" method="get">
	<span onclick="goBack()" class="close" title="Torna indietro">&times;</span>
	<script>
	function goBack() {
		window.history.back();
		}
	</script>
	<font size="4" color="#2f4f4f" face="matura mt script capitals,helvetica">
	<div>Seleziona le attivita' a cui non vuoi piu' prendere parte:</div>
	<table>
		<tr th:each="attivita : ${attivitaAllievo}">
		<td><input type="checkbox" name="check" th:value="${attivita.nome}" th:text="${attivita.nome}"></td><td th:text="${attivita.data}"></td><td th:text="${attivita.ora}"></td>
		</tr>
	</table>
	<input type="submit" name="submit" value="invio"> 	
	</form>
</body>
</html>