<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<title>Home Page Allievo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  }

.container {
  padding: 16px;
}

.modal {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #c2c2a3;
  padding-top: 50px;
  margin: 5% auto 15% auto;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
</style>
</head>
<body style="background-color:#303036;">
	<div class="modal">
	<div class="container">
	 <h1>Bentornato <th th:text="${nomeAllievo}"></th></h1>
	<div><h3>Le tue attivita':</h3></div>
	<div><table class="w3-table w3-striped w3-white">
	    <tr th:each="attivitaAll: ${attivitaAllievo}">
	        <td th:text="${attivitaAll.nome}"></td><td th:text="${attivitaAll.ora}"></td><td th:text="${attivitaAll.data}"></td>
	    </tr>
	</table></div>
	</div>
	<div><a href="selezioneAttivita">Seleziona altre attivita'</a></div>
	<div><a href="disiscrizioneAttivita">Disiscriviti da una o piu' attivita'</a></div>
	<div><a href="logout">Logout</a></div>
	
	</div>
</body>
</html>